body {
  background-color: #999;
}

section {
  width: 50vw;
  height: 50vh;
  margin: 25vh auto;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section div {
  background-color: white;
  height: 40px;
  padding: 6px;
  font-size: x-small;
  width: 40px;
  transition: margin-bottom 2s ease;
}

section div:hover {
  margin-bottom: 20vh;
}

section img {
  transition: margin-bottom 2s ease;
}

section img:hover {
  margin-bottom: 20vh;
}
