body {
  font-family: Arial, Helvetica, sans-serif;
}

.ff-primary {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ff-secondary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

main #settings h2 {
  text-align: center;
}

main #container {
  width: 80vw;
  height: 60vh;
  border: 3px solid black;
  margin: 10vh auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main #container img {
  display: block;
  width: 100px;
  height: auto;
}

main canvas {
  width: 70%;
}
